.pic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-right: 2rem;
  border: 0.1rem solid gray;
  border-radius: 5rem;
  width: 50rem;
  height: 4rem;
  padding: 0.6rem 1.4rem;
  display: flex;
  align-items: center;
  border: 0.02rem solid white;
  background-color: rgba(243, 244, 245, 0.3);
  /* border: 1px solid red; */
}

.searchIcon {
  width: 1.6rem;
}

.filter-search-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.input-box {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 0.8rem;
  caret-color: white;
  color: azure;
  font-size: 1.5rem;
}

.input-box::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  color: #cdced2;
  font-style: italic;
}

.icon-notification-container {
  width: 2.4rem;
  height: 2.4rem;
  border: 0.1rem solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-notification {
  color: #fff;
  font-size: 1.6rem;
}

.filter-btn {
  height: 3.7rem;
  font-size: 1.4rem;
  padding: 0.2rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  border: 0.05rem solid #fff;
  border-radius: 0.4rem;
  background-color: transparent;
  color: #fff;
}

.filter-btn span {
  color: #fff;
  font-size: 1.2rem;
}

.filter-icon {
  font-size: 1rem;
  color: #fff;
}
