.Continue-reading-container {
  /* margin-top: 3rem; */
  gap: 20px;
  display: inline-block;
  vertical-align: top;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgba(229, 230, 233, 1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  background-color: rgba(252, 252, 252, 0.93);
}

.Continue-reading-container:hover {
  transform: scale(1.05);
  transition: all 1s;
}

.Continue-reading-sub {
  display: flex;

  width: 300px;
}

span {
  color: rgba(92, 96, 102, 1);
}
.long-name {
  /* width: 160px; Set width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}

.course {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 10px;
}

.course-bk2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 160px; /* Set width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-bk3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 160px; /* Set width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rate {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  border: 1px solid red;
  /* text-align: left; */
}

.rate-bk3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  margin-top: 50px;
  /* text-align: left; */
}
p {
  padding-left: 5px;
}

.greendot {
  display: flex;
  bottom: 3px;
}
