.library-container {
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  padding: 2rem 2rem 4rem 2rem;
  margin-top: 30px;
}

.library-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 2.4rem;
  margin-top: 40px;
  padding-bottom: 15px;
}

.sub-head {
  font-size: 2.4rem;
}

.category-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 0.1rem 0.2rem;
}

.filter-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.filter {
  font-size: 1.4rem;
}

.library-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 100px;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  padding: 2rem 2rem 4rem 2rem;
}

.library:hover {
  transform: scale(1.05);
  transition: all 1s;
}
.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.arrow-left,
.arrow-right {
  font-size: 4rem;
}
