.library-row {
    display: flex;
    gap: 24px;
  }
  

  
  .library:hover{
    transform: scale(1.1);
    transition: all .5s;
  }
  .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  
  
  
  .arrow-left,
  .arrow-right {
    font-size: 4rem;
  }