@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  /* I included border box property here */
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
.container {
  display: flex;
}

html {
  font-size: 62.5%;
}

.hero-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.pic-content {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('../../Images/homepic.jpeg');

  /* I changed width to 100% instead of initial fixed width of  width: 1000px; */
  width: 100%;
  height: 65vh;
  background-size: cover;

  background-position: center center;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-right: 2rem;
  border: 0.1rem solid gray;
  border-radius: 5rem;
  width: 50rem;
  height: 4rem;
  padding: 0.6rem 1.4rem;
  display: flex;
  align-items: center;
  border: 0.02rem solid white;
  background-color: rgba(243, 244, 245, 0.3);
  /* border: 1px solid red; */
}

.searchIcon {
  width: 1.6rem;
}

.filter-search-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.input-box {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 0.8rem;
  caret-color: white;
  color: azure;
  font-size: 1.5rem;
}

.input-box::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  color: #cdced2;
  font-style: italic;
}

.icon-notification-container {
  width: 2.4rem;
  height: 2.4rem;
  border: 0.1rem solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-notification {
  color: #fff;
  font-size: 1.6rem;
}

.filter-btn {
  height: 3.7rem;
  font-size: 1.4rem;
  padding: 0.2rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  border: 0.05rem solid #fff;
  border-radius: 0.4rem;
  background-color: transparent;
  color: #fff;
}

.filter-btn span {
  color: #fff;
  font-size: 1.2rem;
}

.filter-icon {
  font-size: 1rem;
  color: #fff;
}

.Choose-courses {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 3rem;
  margin-left: 25%;
  /* width: 68rem; */
  height: 4.8rem;
  gap: 2rem;
  /* top: 41rem;
  left: 23rem ;
  gap: 1.6rem; */
}

.book-text {
  width: 181px;
  height: 142px;
  padding: 0px 10px 0px 0px;
  gap: 24px;
  opacity: 0px;
  margin-top: 10px;
  font-size: 1rem;
}
h3 {
  font-family: EB Garamond;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  color: rgba(54, 55, 61, 1);
  margin-top: 20px;
  margin-bottom: 20px;
}
h5 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(54, 55, 61, 1);
}

.My-courses-All {
  width: 5.6rem;
  height: 4.8rem;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  gap: 1rem;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
  background-color: rgba(21, 21, 21, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
.My-courses {
  height: 4.8rem;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  gap: 1rem;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: rgba(88, 95, 106, 1);
  background-color: white;
  border: none;
}

.My-courses:hover {
  background-color: rgb(223, 224, 224);
}

.My-courses:active {
  background-color: rgba(21, 21, 21, 1);
  color: white;
}
